h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0px;
}

form .form-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}

form .form-field label {
  text-transform: uppercase;
}

form .form-field input:not([type="submit"]) {
  background-color: #eee;
  border: none;
  border-bottom: 1px solid #c0c0c0;
}

form .form-field input:not([type="submit"]):focus {
  outline: 0;
}

form .terms-and-conditions {
  margin: 75px 0px 50px 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

form .terms-and-conditions input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

form .terms-and-conditions p {
  margin: 0px 5px;
}

form input[type="submit"] {
  color: #fff;
  background-color: #32cd32;
  border: 1px solid #32cd32;
  padding: 5px 20px;
}

form span {
  padding: 0px 10px;
}

form .login-link {
  color: #000;
  text-decoration: none;
}

.fa-eye {
  color: #32cd32;
}

.fa-trash-alt {
  color: red;
}

.row {
  margin: 0;
}

.col-lg-6, .col-sm-12 {
  padding: 0px;
}

.container .signup-container, .container .login-container {
  width: 100%;
}

.container .signup-container .left-column, .container .login-container .left-column {
  background-color: #00aaff;
  padding: 60px 50px;
}

.container .signup-container .left-column div, .container .login-container .left-column div {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
}

.container .signup-container .left-column div *, .container .login-container .left-column div * {
  color: #fff;
}

.container .signup-container .right-column, .container .login-container .right-column {
  background-color: #eee;
  padding: 60px 100px;
}

.error-message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.error-message h1 {
  background-color: #ff0000;
  color: #fff;
  padding: 20px 10px;
  font-size: 25px;
  text-align: center;
}

.error-message a {
  padding: 10px 20px;
  background-color: #00aaff;
  color: #fff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 50px;
}

.dashboard-header1 {
  background-color: #4d4d4f;
  padding: 10px 0px;
}

.dashboard-header1 .container h1 {
  color: #fff;
  font-weight: normal;
  font-size: 25px;
}

.dashboard-header1 .container .logout-and-admin {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.dashboard-header1 .container .logout-and-admin a {
  text-decoration: none;
  color: #fff;
  margin: 0px 10px;
}

.dashboard-header1 .container .logout-and-admin a i {
  margin-right: 5px;
}

.dashboard-header2 {
  padding: 20px 0px;
}

.dashboard-header2 .files-creation {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.dashboard-header2 .files-creation button {
  border: none;
  color: #fff;
  background-color: #00aaff;
  padding: 10px 20px;
  margin: 0px 5px;
}

.files-container {
  background-color: #eee;
  padding: 20px 0px;
}

.files-container .files-body {
  background-color: #fff;
  padding-left: 0px;
  padding-right: 0px;
  -webkit-box-shadow: 0px 0px 10px #8888;
          box-shadow: 0px 0px 10px #8888;
}

.files-container .files-body table .contents-header {
  border-bottom: 1px solid #4d4d4f;
}

.files-container .files-body table .contents-header a {
  color: #000;
  text-decoration: none;
}

.files-container .files-body table tr td {
  padding: 10px 20px;
  border: none;
}

.files-container .files-body table tr .file-name .fa-folder {
  margin-right: 10px;
  color: #4d4d4f;
}

.files-container .files-body table tr .file-name p {
  font-size: 14px;
  color: #4d4d4f;
  font-style: italic;
}

.files-container .files-body table tr .manage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.files-container .files-body table tr .manage button {
  margin: 0px 5px;
}

.files-container .files-body table tr:nth-child(even) {
  background-color: #eee;
}

#createFolderModal .modal-dialog,
#uploadFileModal .modal-dialog {
  top: 100px;
  right: -200px;
}

#createFolderModal .modal-dialog .modal-content,
#uploadFileModal .modal-dialog .modal-content {
  width: 80%;
  margin: auto;
}

#createFolderModal .modal-dialog .modal-content .modal-title-and-close,
#uploadFileModal .modal-dialog .modal-content .modal-title-and-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}

#createFolderModal .modal-dialog .modal-content .modal-title-and-close span,
#uploadFileModal .modal-dialog .modal-content .modal-title-and-close span {
  cursor: pointer;
}

#createFolderModal .modal-dialog .modal-content form #folderName,
#uploadFileModal .modal-dialog .modal-content form #folderName {
  width: 100%;
}

#createFolderModal .modal-dialog .modal-content form .create-folder-form-buttons,
#createFolderModal .modal-dialog .modal-content form .upload-file-form-buttons,
#uploadFileModal .modal-dialog .modal-content form .create-folder-form-buttons,
#uploadFileModal .modal-dialog .modal-content form .upload-file-form-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 10px;
}

#createFolderModal .modal-dialog .modal-content form .create-folder-form-buttons button,
#createFolderModal .modal-dialog .modal-content form .upload-file-form-buttons button,
#uploadFileModal .modal-dialog .modal-content form .create-folder-form-buttons button,
#uploadFileModal .modal-dialog .modal-content form .upload-file-form-buttons button {
  background-color: transparent;
  color: #000;
}

#createFolderModal .modal-dialog .modal-content form .create-folder-form-buttons input,
#createFolderModal .modal-dialog .modal-content form .upload-file-form-buttons input,
#uploadFileModal .modal-dialog .modal-content form .create-folder-form-buttons input,
#uploadFileModal .modal-dialog .modal-content form .upload-file-form-buttons input {
  background-color: #00aaff;
  color: #fff;
  border: none;
}

#uploadFileModal .modal-dialog {
  right: -300px;
}

#view-file-modal .modal-dialog {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

#view-file-modal .modal-dialog .modal-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#view-file-modal .modal-dialog .modal-body button {
  margin-bottom: 10px;
}

#view-file-modal .modal-dialog .modal-body iframe {
  width: 700px;
  height: 300px;
  border: none;
}

.footer {
  background-color: #4d4d4f;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer p {
  color: #fff;
  margin-bottom: 0px;
}

@media (max-width: 990px) {
  .dashboard-header1 .container h1 {
    text-align: center;
  }
  .dashboard-header1 .container .logout-and-admin {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 10px;
  }
  .dashboard-header2 .container h2 {
    text-align: center;
  }
  .dashboard-header2 .container .files-creation {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 10px;
  }
  .container .signup-container .right-column, .container .login-container .right-column {
    padding: 60px 50px;
  }
  form .terms-and-conditions p {
    margin: 5px 0 5px 5px;
  }
}

@media (max-width: 480px) {
  form .terms-and-conditions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  form .terms-and-conditions p {
    margin: 5px 0 0 0;
  }
}
/*# sourceMappingURL=style.css.map */